/* Styles for the listings index page */


body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/006/663/095/non_2x/shopping-concept-cartons-or-paper-boxes-and-shopping-bag-in-red-shopping-cart-on-pink-background-online-shopping-consumers-can-shop-from-home-and-delivery-service-with-copy-space-free-photo.jpg');

    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Ensures the background image stays fixed when scrolling */
    background-position: center; /* Centers the background image */
    height: 100vh; /* Ensures the body takes up the full viewport height */
    margin: 0; /* Removes default margin */
    margin-top: 60px;
    padding: 0; /* Removes default padding */
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.content {
    display: flex;
    width: 100%;
}

.filter-form {
    width: 240px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 20px;
    flex-shrink: 0;
    position: sticky;
    top: 20px;
    align-self: flex-start; /* Ensure it starts from the top */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.filter-form h3 {
    padding-top: 20px;
    margin-bottom: 15px;
    color: #555;
    font-family: 'Arial', sans-serif;
}

.filter-form div {
    margin-bottom: 15px;
}

.filter-form label {
    margin-left: 5px;
    font-family: 'Arial', sans-serif;
}

.filter-form button {
    padding: 10px 20px;
    border: none;
    background-color: #7d155b;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-form button:hover {
    background-color: #e06093;
}

.listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 1;
}

.listing {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.listing:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.listing img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.listing h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.listing p {
    margin: 5px 0;
    color: #555;
    font-family: 'Arial', sans-serif;
}

.listing .btn-danger {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.listing .btn-danger:hover {
    background-color: #c82333;
}

.listing a {
    text-decoration: none;
    font-weight:bold ;
    color: inherit;
    transition: color 0.3s;
}

.listing a:hover {
    color: #490829;
}

.filter-form h3 {
    margin-bottom: 10px;
}

.filter-form div {
    margin-bottom: 10px;
}

.filter-form label {
    margin-left: 5px;
}

.logo a{
        text-decoration: none;
        font-weight:bold ;
        color: inherit;
        transition: color 0.3s;
    
}

.logo a:hover {
    color: #9f4572;
}